certifi==2024.8.30
charset-normalizer==3.4.0
idna==3.10
requests==2.32.3
urllib3==2.2.3
fastapi==0.95.2
uvicorn==0.22.0
tensorflow
python-multipart
numpy
opencv-python
pydicom>=2.7.0
scikit-learn
pillow>=10.0
pandas
