@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0; /* Reset body margin */
  padding: 0; /* Reset body padding */
  min-height: 100vh; /* Ensure body takes full height */
  box-sizing: border-box; /* Ensure padding/margin don't add to size */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
